<!-- header -->
<div class="container-fluid header-top">
    <div class="container ">
      <div class="row">
        <div class="col-md-2">
          +91-7022368965
        </div>
        <div class="col-md-2">
          rupa.jha.in@gmail.com
        </div>
        <div class="col-md-3">
          Monday-Friday, 8:00 - 20:00
        </div>
        <div class="col-md-1">
  
        </div>
        <div class="col-md-2">
          SIGN IN/ REGISTER
        </div>
        <div class="col-md-2">
          YOUR CART (0)
        </div>
      </div>
    </div>
  </div>
  <!-- Logo Section  -->
  <div class="container header-logo">
    <div class="row">
      <div class="col-md-6">
        ADAMAS
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2">
            Home
          </div>
          <div class="col-md-2">
            Apparel
          </div>
          <div class="col-md-2">
            Fashion
          </div>
          <div class="col-md-2">
            News
          </div>
          <div class="col-md-2">
            Portfolio
          </div>
          <div class="col-md-2">
            Contact
          </div>
        </div>
      </div>
    </div>g
  </div>
  <!-- Breadcrumb -->
  <div class="container breadcrumb-top">
    <div class="row">
      <div class="col-md-6">
        Shop With a Sidebar on Left
      </div>
      <div class="col-md-6">
        +917022368965
      </div>
    </div>
  </div>
  <!--body < -->
  <div class="container body">
    <div class="row">
      <div class="col-md-3">
        <h2>Categories</h2>
        <ul class="list-unstyled">
          <li>Jewelry (5) </li>
          <li>Apparel (3)</li>
          <li>Rings (8)</li>
          <li>Dresses & JAckets(12)</li>
          <li>Necklaces (7)</li>
          <li>Bags (15)</li>
        </ul>
        <h2>Best Sellers</h2>
        <h2>Price Range</h2>
        <ul class="list-unstyled">
          <li>$50.00-$50.00 (5) </li>
          <li>$50.00-$100.00 (3)</li>
          <li>$100.00-$200.00</li>
          <li>$200.00-$500.00</li>
        </ul>
  
      </div>
      <div class="col-md-9">
  
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Set of Wedding Rings</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <span>$59.89</span>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Blue Sky Diamond</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <span>$222</span>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">A black leather purse</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <span>$24.89</span>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <span>$222</span>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <span>$222</span>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <span>$222</span>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width: 20rem;">
              <img class="card-img-top" src="http://via.placeholder.com/250x250" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <span>$222</span>
                <a href="#" class="btn btn-primary">Buy Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- social -->
  <div class="container Social">
    <div class="row">
      <div class="Col-md-6">
        Revenant was just on #themeforest http//bit ly/qoxj6m
      </div>
      <div class="col-md-6">
        Check the latest news no our social networks
      </div>
    </div>
  </div>
  <!-- footer -->
  <div class="container footer">
    <div class="row">
      <div class="col-md-4">
        <p>
          ADAMAS
                </p>
                <p>Lorem ipsum dolor Sit amet, consec tetuer adipiscing elit, sed diam non ummy nibh euismod tincidunt ut lao reet dolore magna aliquam erat volutpat</p>
      </div>
      <div class="col-md-4">
  <h5>  Recent Products</h5>
  <div class="card">
      <div class="card-body">
        <h4 class="card-title">Blue Sky Dlamond</h4>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">$589.99</a>
      </div>
    </div>
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Flery Red Ring</h4>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">$2789.99</a>
        </div>
      </div>
      </div>
       <div class="col-md-">
         <h5>Contacts</h5>
         <p>Adamas d.o.o.1000 Ljubljana</p>
         <p>Celovska cesta 135</p>
         <p>Slovenia,Europe</p>
         <p></p>
         <p>Phone:(+386) 40 123 456</p>
         <p>Mpbile:(+386) 40 654 123 651</p>
         <p></p>
         <p>Email:info@premlumcoding.com</p>
       </div>
  
    </div>
  </div>