<!-- header -->
<div class="container-fluid header-top">
  <div class="container ">
    <div class="row">
      <div class="col-md-2">
        +91-7022368965
      </div>
      <div class="col-md-2">
        rupa.jha.in@gmail.com
      </div>
      <div class="col-md-3">
        Monday-Friday, 8:00 - 20:00
      </div>
      <div class="col-md-1">

      </div>
      <div class="col-md-2">
        SIGN IN/ REGISTER
      </div>
      <div class="col-md-2">
        YOUR CART (0)
      </div>
    </div>
  </div>
</div>
<!-- Logo Section  -->
<div class="container header-logo">
  <div class="row">
    <div class="col-md-6">
      ADAMAS
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2">
          Home
        </div>
        <div class="col-md-2">
          Apparel
        </div>
        <div class="col-md-2">
          Fashion
        </div>
        <div class="col-md-2">
          News
        </div>
        <div class="col-md-2">
          Portfolio
        </div>
        <div class="col-md-2">
          Contact
        </div>
      </div>
    </div>
  </div>g
</div>
<!-- Breadcrumb -->
<div class="container breadcrumb-top">
  <div class="row">  
    <div class="col-md-6">
     Shop With a Sidebar on Left 
    </div>
    <div class="col-ma-6">
     +917022368965 
    </div>
  </div>
  </div>
<!--body < -->
<div class="container body">
  <div class="row">
    <div class="col-md-3">
    <h2>Categories</h2>
     <ul class="list-unstyled">
  <li>Lorem ipsum dolor sit amet</li>
  <li>Consectetur adipiscing elit</li>
  <li>Integer molestie lorem at massa</li>
  <li>Facilisis in pretium nisl aliquet</li>
  <li>Nulla volutpat aliquam velit
    <ul>
      <li>Phasellus iaculis neque</li>
      <li>Purus sodales ultricies</li>
      <li>Vestibulum laoreet porttitor sem</li>
      <li>Ac tristique libero volutpat at</li>
    </ul>
  </li>
  <li>Faucibus porta lacus fringilla vel</li>
  <li>Aenean sit amet erat nunc</li>
  <li>Eget porttitor lorem</li>
</ul>
    </div>
     <div class="col-md-9"></div>
  </div>
</div>