<!-- header -->
<div class="container-fluid header-top">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        +95-7022368965
      </div>
      <div class="col-md-2">
        rupa.jha.in@gmail.com        
      </div>
      <div class="col-md-3">
        Monday-Friday,8:00 - 20:00
              </div>
              <div class="col-md-1">
                
              </div>
              <div class="col-md-2">
                SING IN/ REGISTER
              </div>
              <div class="col-md-2">
                YOUR CART (0)
              </div>
                 </div>
                  </div>
                </div>
                <!-- LOgo Section -->
                <div class="container header-logo">
                  <div class="row">
                    <div class="col-md-6">
                      ADAMAS
                                          </div>
                                          
                  </div>
                </div>